# Packages and Helper Functions

In [112]:
import warnings
warnings.filterwarnings("ignore")
import os

import pandas as pd
import numpy as np
import polars as pl
import scipy.stats as stats
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm
import matplotlib.pyplot as plt
import math

import requests
import re
import pdfplumber

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: "%.4f" % x)
# pd.options.plotting.backend = "plotly"

plt.style.use('ggplot')
sns.set_style('darkgrid')

# Reading in Data

## Pulling PDFs

In [113]:
isu_year = 1718
isu_event = "owg2018"
dir_name = f"./{isu_event}"
isu_url = "https://www.isuresults.com/results/season1718/owg2018/"
OUTPUT_CSV = dir_name + f"/{isu_event}.csv"

# Get the HTML content of the page
response = requests.get(isu_url)
html_content = response.text

# find all pdf extension files
regex_pattern = r'href=([^\s>]+\.pdf)'

# Find all matches
matches = re.findall(regex_pattern, html_content, re.IGNORECASE)

print(matches)
print(len(matches))

['OWG2018_MenSingleSkating_SP_Scores.pdf', 'OWG2018_MenSingleSkating_FS_Scores.pdf', 'OWG2018_LadiesSingleSkating_SP_Scores.pdf', 'OWG2018_LadiesSingleSkating_FS_Scores.pdf', 'OWG2018_PairSkating_SP_Scores.pdf', 'OWG2018_PairSkating_FS_Scores.pdf', 'OWG2018_IceDance_SD_Scores.pdf', 'OWG2018_IceDance_FD_Scores.pdf', 'TeamEntries.pdf', 'OWG2018_TeamMen_SP_M_Scores.pdf', 'OWG2018_TeamMen_FS_M_Scores.pdf', 'OWG2018_TeamLadies_SP_F_Scores.pdf', 'OWG2018_TeamLadies_FS_F_Scores.pdf', 'OWG2018_TeamPairs_SP_P_Scores.pdf', 'OWG2018_TeamPairs_FS_P_Scores.pdf', 'OWG2018_TeamIceDance_SD_D_Scores.pdf', 'OWG2018_TeamIceDance_FD_D_Scores.pdf']
17

In [114]:
# find all score sheets in the pdf files
score_sheet_file_names = [m for m in matches if "scores" in m.lower()]
score_sheet_urls = [isu_url + m for m in score_sheet_file_names]
print(score_sheet_urls)
print(len(score_sheet_urls))

['https://www.isuresults.com/results/season1718/owg2018/OWG2018_MenSingleSkating_SP_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_MenSingleSkating_FS_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_LadiesSingleSkating_SP_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_LadiesSingleSkating_FS_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_PairSkating_SP_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_PairSkating_FS_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_IceDance_SD_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_IceDance_FD_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamMen_SP_M_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamMen_FS_M_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamLadies_SP_F_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamLadies_FS_F_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamPairs_SP_P_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamPairs_FS_P_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamIceDance_SD_D_Scores.pdf', 'https://www.isuresults.com/results/season1718/owg2018/OWG2018_TeamIceDance_FD_D_Scores.pdf']
16

In [115]:
# create data store
# if dir_name exists, skip this
if os.path.isdir(dir_name):
    print(f"data directory already exists: {dir_name}")
else:
    print(f"making data directory: {dir_name}")
    os.makedirs(dir_name, exist_ok=True)

    for url in score_sheet_urls:
        response = requests.get(url)
        filename = url.split('/')[-1]
        filepath = os.path.join(dir_name, filename)
        with open(filepath, 'wb') as f:
            f.write(response.content)
        print(f"Downloaded: {filename}")

data directory already exists: ./owg2018

## Regex Parsing of PDFs

Below is testing on 1 file. For complete pipeline, go to Applying Data Pipeline section

In [116]:
PDF_PATH = dir_name + "/OWG2018_MenSingleSkating_SP_Scores.pdf"

# use pdfplumber to get the complete text string of score pdf
pages_text = []
with pdfplumber.open(PDF_PATH) as pdf:
    for page in pdf.pages:
        text = page.extract_text()
        if text:
            pages_text.append(text)

full_text = "\n".join(pages_text)

# regex pattern for finding each skater 
skater_header_pattern = re.compile(
    r"""
    ^(\d+)\s+                  # 1 rank
    (.+?)\s+                   # 2 name
    ([A-Z]{3})\s+              # 3 NOC code
    (\d+)\s+                   # 4 starting num
    (\d+\.\d{2})\s+            # 5 total segment score
    (\d+\.\d{2})\s+            # 6 total element score
    (\d+\.\d{2})\s+            # 7 total program score
    (-?\d+\.\d{2})$            # 8 total deductions
    """,
    re.VERBOSE | re.MULTILINE
)

# regex pattern for finding each skater's element
element_pattern = re.compile(
    r"""
    ^\s*(\d+)\s+                 # 1 element number
    ([A-Za-z0-9+!*<>q]+)\s+      # 2 element code
    (?:(\S+)\s+)?                # 3 optional info column (x, q, !, etc.)
    ([\d.]+)\s+                  # 4 base value
    (?:\b(x)\b\s+)?              # 5 optional extra points column (x)
    ([\-\d.]+)\s+                # 6 GOE
    ((?:(?:-?\d+)|-)(?:\s+(?:(?:-?\d+)|-)){8}\s+)  # 7 judges scores 
    ([\d.]+)$                    # 8 final score
    """,
    re.VERBOSE | re.MULTILINE
)

# regex pattern for finding each skater's program component
program_components_pattern = re.compile(
    r"""
    ^(Skating\s+Skills|Transitions|Performance|Composition|Interpretation\s+of\s+the\s+Music)\s+  # 1 component
    (\d+\.\d{2})\s+                     # 2 factor
    ((?:\d+\.\d{2}\s+){9})              # 3 judge scores
    (\d+\.\d{2})$                       # 4 final score
    """,
    re.VERBOSE | re.MULTILINE
)

In [117]:
# find all skater header matches
matches = list(skater_header_pattern.finditer(full_text))

# for each skater header match, get the complete text between next match
skater_blocks = []
for i, m in enumerate(matches):
    start = m.start()
    end = matches[i + 1].start() if i + 1 < len(matches) else len(full_text)
    skater_blocks.append((m, full_text[start:end]))

# create elements df and program components df row by row
elements_rows = []
program_rows = []

for header, block in skater_blocks:
    # pull skater info
    rank = int(header.group(1))
    name = header.group(2).title()
    noc = header.group(3)
    starting_number = int(header.group(4))
    tss = float(header.group(5))
    tes = float(header.group(6))
    tpcs = float(header.group(7))
    deductions = float(header.group(8))

    for m in element_pattern.finditer(block):
        row = {
            "rank": rank,
            "name": name,
            "noc": noc,
            "starting_number": starting_number,
            "tss": tss,
            "tes": tes,
            "tpcs": tpcs,
            "deductions": deductions,
            "element_no": int(m.group(1)),
            "element": m.group(2),
            "info": m.group(3),
            "base_value": float(m.group(4)),
            "extra_points": 1 if m.group(5) else 0,
            "goe": float(m.group(6)),
            "final_score": float(m.group(8)),
        }

        judges = m.group(7).split()
        for i, j in enumerate(judges):
            try:
                row[f"J{i+1}"] = int(j)
            except ValueError:
                row[f"J{i+1}"] = 0
        
        elements_rows.append(row)
    
    for m in program_components_pattern.finditer(block):
        row = {
            "rank": rank,
            "name": name,
            "noc": noc,
            "starting_number": starting_number,
            "tss": tss,
            "tes": tes,
            "tpcs": tpcs,
            "deductions": deductions,
            "program_component": m.group(1),
            "factor": float(m.group(2)),
            "final_score": float(m.group(4)),
        }

        judges = m.group(3).split()
        for i, j in enumerate(judges):
            try:
                row[f"J{i+1}"] = float(j)
            except ValueError:
                row[f"J{i+1}"] = 0
        
        program_rows.append(row)

element_df = pd.DataFrame(elements_rows)
element_df.sort_values(["rank", "element_no"], inplace=True)

program_df = pd.DataFrame(program_rows)
program_df.sort_values(["rank", "program_component"], inplace=True)

In [118]:
print(full_text)

Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
1 HANYU Yuzuru JPN 25 111.68 63.18 48.50 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4S 10.50 2.71 3 2 3 3 3 2 3 3 2 13.21
2 FCSp4 3.20 1.00 2 2 2 2 2 2 2 3 2 4.20
3 CSSp4 3.00 1.43 2 3 3 3 3 2 3 3 3 4.43
4 3A 9.35 x 3.00 3 3 3 3 3 3 3 3 3 12.35
5 4T+3T 16.06 x 2.57 3 2 2 3 2 2 3 3 3 18.63
6 StSq4 3.90 2.10 2 3 3 3 3 3 3 3 3 6.00
7 CCoSp3 3.00 1.36 2 3 2 3 3 3 2 3 3 4.36
49.01 63.18
Program Components Factor
Skating Skills 1.00 10.00 9.75 10.00 9.75 9.75 9.50 9.50 9.75 9.50 9.71
Transitions 1.00 9.00 9.50 9.75 9.50 9.50 9.25 8.75 9.75 9.50 9.43
Performance 1.00 10.00 9.75 10.00 10.00 9.75 9.75 9.75 10.00 9.75 9.86
Composition 1.00 9.50 10.00 9.75 9.75 9.75 9.75 9.50 10.00 9.75 9.75
Interpretation of the Music 1.00 9.50 9.75 9.75 10.00 9.75 9.75 9.50 10.00 9.75 9.75
Judges Total Program Component Score (factored) 48.50
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
2 FERNANDEZ Javier ESP 29 107.58 59.79 47.79 0.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4T+3T 14.60 2.00 2 2 2 2 2 2 2 2 2 16.60
2 4S 10.50 2.71 3 3 2 3 3 3 2 3 2 13.21
3 FUSp4 2.90 0.50 2 1 2 1 0 2 0 1 0 3.40
4 3A 9.35 x 2.43 3 3 2 3 2 2 2 3 2 11.78
5 CSSp4 3.00 1.29 3 2 3 3 2 3 2 3 2 4.29
6 StSq4 3.90 1.90 3 2 3 3 2 3 3 3 2 5.80
7 CCoSp4 3.50 1.21 3 3 2 2 2 2 3 3 2 4.71
47.75 59.79
Program Components Factor
Skating Skills 1.00 10.00 9.50 9.50 9.50 9.25 9.50 9.00 9.25 9.00 9.36
Transitions 1.00 9.50 9.50 9.50 9.50 9.00 9.50 9.00 9.25 9.25 9.36
Performance 1.00 10.00 9.75 10.00 10.00 9.25 9.50 9.50 9.75 9.50 9.71
Composition 1.00 10.00 10.00 9.50 10.00 9.50 9.75 9.25 9.50 9.50 9.68
Interpretation of the Music 1.00 10.00 9.75 10.00 9.75 9.50 9.75 9.50 9.50 9.25 9.68
Judges Total Program Component Score (factored) 47.79
Deductions: 0.00
Page 1 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
3 UNO Shoma JPN 28 104.17 58.13 46.04 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4F 12.30 1.43 0 1 2 2 1 1 2 2 1 13.73
2 FCSp4 3.20 0.93 1 2 2 2 2 1 2 2 2 4.13
3 StSq3 3.30 1.07 2 2 3 3 2 1 2 2 2 4.37
4 4T+3T 16.06 x 1.14 1 1 2 2 1 1 1 1 1 17.20
5 3A 9.35 x 0.71 0 1 2 1 0 1 1 1 -1 10.06
6 CSSp4 3.00 1.00 2 2 3 2 2 2 0 2 2 4.00
7 CCoSp4 3.50 1.14 3 2 2 2 3 2 2 3 2 4.64
50.71 58.13
Program Components Factor
Skating Skills 1.00 9.00 9.25 10.00 9.25 9.50 9.25 9.25 9.25 9.25 9.29
Transitions 1.00 8.75 8.75 9.50 9.25 9.25 9.00 9.00 8.75 9.00 9.00
Performance 1.00 9.00 9.00 9.75 9.50 9.25 9.25 9.25 9.25 9.25 9.25
Composition 1.00 9.00 9.00 9.50 9.50 9.50 9.25 9.25 9.25 9.25 9.29
Interpretation of the Music 1.00 8.75 8.75 10.00 9.50 9.25 9.50 9.25 9.25 9.00 9.21
Judges Total Program Component Score (factored) 46.04
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
4 JIN Boyang CHN 30 103.32 60.27 43.05 0.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4Lz+3T 17.90 1.86 3 1 2 2 1 1 2 2 3 19.76
2 4T 10.30 1.14 -1 1 1 2 0 1 2 1 2 11.44
3 FCSp4 3.20 0.79 1 2 2 2 1 1 1 2 3 3.99
4 3A 9.35 x 2.14 2 2 3 2 2 1 2 2 3 11.49
5 CSSp4 3.00 0.79 1 2 2 2 2 1 1 1 3 3.79
6 CCoSp4 3.50 1.00 2 2 3 2 1 1 2 2 3 4.50
7 StSq4 3.90 1.40 2 2 3 3 1 1 2 1 3 5.30
51.15 60.27
Program Components Factor
Skating Skills 1.00 8.25 8.75 9.00 8.75 9.00 8.50 9.00 8.50 9.25 8.79
Transitions 1.00 7.75 8.00 8.50 8.75 8.50 8.00 8.50 7.75 9.25 8.29
Performance 1.00 8.00 8.50 9.00 9.00 9.00 8.50 8.75 9.00 9.50 8.82
Composition 1.00 8.00 8.25 8.75 8.75 9.00 8.50 8.50 7.75 9.50 8.54
Interpretation of the Music 1.00 7.75 8.50 8.75 9.25 8.75 8.50 8.75 7.75 9.50 8.61
Judges Total Program Component Score (factored) 43.05
Deductions: 0.00
Page 2 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
5 ALIEV Dmitri OAR 20 98.98 56.98 42.00 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4Lz+3T 17.90 1.57 1 1 2 2 2 2 2 1 1 19.47
2 4T 10.30 1.29 1 1 2 1 1 1 2 2 1 11.59
3 FCSp4 3.20 0.43 1 1 0 1 1 1 0 1 1 3.63
4 3A 9.35 x 1.00 0 2 1 1 1 1 2 0 1 10.35
5 CSSp4 3.00 0.71 1 1 2 2 1 2 1 2 1 3.71
6 StSq3 3.30 0.79 0 1 1 2 2 2 2 2 1 4.09
7 CCoSp4 3.50 0.64 1 1 2 1 2 1 2 1 1 4.14
50.55 56.98
Program Components Factor
Skating Skills 1.00 8.00 8.75 8.50 8.25 8.75 8.50 9.00 8.00 8.25 8.43
Transitions 1.00 7.50 8.25 8.00 8.00 8.50 8.25 8.50 7.75 8.00 8.11
Performance 1.00 8.00 8.50 8.50 8.50 8.75 8.50 9.25 8.25 8.50 8.50
Composition 1.00 8.00 8.75 8.25 8.50 8.75 8.50 9.00 8.25 8.50 8.50
Interpretation of the Music 1.00 7.75 8.50 8.00 8.75 8.75 8.75 9.00 8.25 8.25 8.46
Judges Total Program Component Score (factored) 42.00
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
6 CHAN Patrick CAN 21 90.01 45.08 45.93 -1.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4T 10.30 1.00 -1 0 1 2 0 0 3 2 2 11.30
2 3Lz+3T 10.30 1.40 3 2 2 2 1 2 2 2 2 11.70
3 CCSp4 3.20 1.07 2 2 2 2 2 2 3 3 2 4.27
4 3A< < 6.49 x -3.00 -3 -3 -3 -3 -3 -3 -3 -3 -3 3.49
5 StSq4 3.90 1.90 3 3 3 3 2 2 3 3 2 5.80
6 FSSp3 2.60 1.21 2 3 3 3 2 1 2 3 2 3.81
7 CCoSp4 3.50 1.21 3 3 2 2 2 2 3 3 2 4.71
40.29 45.08
Program Components Factor
Skating Skills 1.00 9.50 9.50 9.50 9.25 9.25 9.25 9.25 9.50 9.00 9.36
Transitions 1.00 9.00 9.00 9.25 9.25 9.00 8.75 9.75 9.25 8.75 9.07
Performance 1.00 9.00 9.00 9.25 9.00 9.00 8.50 9.50 9.00 8.75 9.00
Composition 1.00 9.75 9.25 9.25 9.25 9.25 9.00 9.50 9.50 9.00 9.29
Interpretation of the Music 1.00 9.25 9.25 9.50 9.00 9.00 8.75 9.50 9.50 9.00 9.21
Judges Total Program Component Score (factored) 45.93
Deductions: Falls -1.00 -1.00
Page 3 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
7 RIPPON Adam USA 19 87.95 44.48 43.47 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3F+3T 9.60 0.60 1 1 1 1 0 0 1 1 1 10.20
2 3A 8.50 -0.29 0 0 0 0 0 -1 -1 0 -1 8.21
3 FCSp4 3.20 1.07 3 2 2 2 2 2 2 3 2 4.27
4 3Lz 6.60 x 0.70 1 1 2 1 1 0 1 1 1 7.30
5 CSSp4 3.00 1.07 2 2 3 2 2 2 2 3 2 4.07
6 StSq4 3.90 1.60 3 2 3 3 2 2 2 2 2 5.50
7 CCoSp4 3.50 1.43 3 2 3 2 3 3 3 3 3 4.93
38.30 44.48
Program Components Factor
Skating Skills 1.00 8.75 8.50 9.00 8.25 8.50 8.75 8.75 8.50 8.25 8.57
Transitions 1.00 8.75 8.25 8.75 8.25 8.50 8.50 8.50 8.00 8.25 8.43
Performance 1.00 9.00 8.75 9.25 8.75 8.75 8.75 9.50 8.75 8.50 8.86
Composition 1.00 8.75 8.25 9.00 8.50 8.75 8.75 9.00 8.50 8.50 8.68
Interpretation of the Music 1.00 9.25 8.75 9.25 8.75 9.00 9.00 9.25 8.50 8.50 8.93
Judges Total Program Component Score (factored) 43.47
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
8 KOLYADA Mikhail OAR 27 86.69 43.84 43.85 -1.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3Lz 6.00 1.40 0 2 2 3 3 1 2 3 1 7.40
2 4T+COMBO 10.30 -4.00 -3 -3 -3 -3 -3 -3 -3 -3 -3 6.30
3 FSSp4 3.00 1.07 2 2 2 3 1 2 2 3 2 4.07
4 3A 9.35 x 2.14 2 2 2 3 2 2 3 2 2 11.49
5 CCSp4 3.20 1.21 2 3 3 2 2 2 3 3 2 4.41
6 StSq4 3.90 1.70 2 3 2 3 3 2 3 2 2 5.60
7 CCoSp4 3.50 1.07 2 2 2 3 2 2 2 3 2 4.57
39.25 43.84
Program Components Factor
Skating Skills 1.00 8.00 9.25 8.75 9.00 9.25 8.75 9.25 9.00 8.75 8.96
Transitions 1.00 7.75 8.75 8.25 8.75 9.25 8.50 8.75 8.25 8.50 8.54
Performance 1.00 7.75 8.75 8.25 9.00 9.00 8.25 9.25 9.00 8.25 8.64
Composition 1.00 8.50 9.25 8.50 8.75 9.25 8.75 9.50 8.50 8.75 8.82
Interpretation of the Music 1.00 8.00 9.25 8.75 9.25 9.25 8.75 9.25 8.50 8.50 8.89
Judges Total Program Component Score (factored) 43.85
Deductions: Falls -1.00 -1.00
Page 4 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
9 BREZINA Michal CZE 13 85.15 44.34 40.81 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4S+2T 11.80 0.00 0 0 0 0 0 0 1 0 0 11.80
2 3A 8.50 1.43 2 2 2 2 1 1 1 1 1 9.93
3 FSSp4 3.00 0.93 2 2 2 2 2 1 2 1 2 3.93
4 CCSp4 3.20 0.71 1 2 2 1 2 2 1 1 1 3.91
5 3F 5.83 x 1.00 1 2 2 0 2 2 2 1 -1 6.83
6 StSq3 3.30 0.93 2 3 2 2 2 1 2 1 2 4.23
7 CCoSp3 3.00 0.71 2 1 1 2 2 1 1 2 1 3.71
38.63 44.34
Program Components Factor
Skating Skills 1.00 8.25 8.75 8.25 8.25 8.25 8.50 8.00 7.75 8.25 8.25
Transitions 1.00 7.25 8.25 7.75 8.00 8.25 8.00 7.50 7.75 8.00 7.89
Performance 1.00 8.00 8.75 8.50 8.50 8.25 8.25 8.00 8.00 8.25 8.25
Composition 1.00 8.00 8.50 8.00 8.50 8.50 8.50 7.75 7.75 8.25 8.21
Interpretation of the Music 1.00 7.75 8.50 8.25 8.50 8.50 8.25 8.25 7.50 8.00 8.21
Judges Total Program Component Score (factored) 40.81
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
10 MESSING Keegan CAN 12 85.11 45.50 40.61 -1.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4T+3T 14.60 1.43 2 2 2 1 1 1 2 1 1 16.03
2 3A 8.50 -3.00 -3 -3 -3 -3 -3 -3 -3 -3 -3 5.50
3 FCSp4 3.20 1.14 3 2 3 2 2 2 2 3 2 4.34
4 CSSp4 3.00 1.00 2 2 3 2 1 2 2 2 2 4.00
5 StSq2 2.60 0.86 2 3 2 2 1 1 2 1 2 3.46
6 3Lz 6.60 x 1.50 2 3 2 1 2 2 3 2 2 8.10
7 CCoSp4 3.50 0.57 2 2 2 2 0 0 -1 1 1 4.07
42.00 45.50
Program Components Factor
Skating Skills 1.00 8.00 9.50 8.00 7.75 7.25 8.25 8.75 7.75 7.75 8.04
Transitions 1.00 7.50 9.00 8.00 7.50 7.25 8.50 8.75 7.75 7.75 7.96
Performance 1.00 7.75 9.25 8.00 8.00 7.00 8.25 9.00 8.00 7.50 8.07
Composition 1.00 8.00 9.50 8.25 7.75 7.50 8.50 9.00 8.50 8.00 8.29
Interpretation of the Music 1.00 8.00 9.50 8.25 7.75 7.00 8.75 9.00 8.00 8.00 8.25
Judges Total Program Component Score (factored) 40.61
Deductions: Falls -1.00 -1.00
Page 5 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
11 HENDRICKX Jorik BEL 17 84.74 44.17 40.57 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3A 8.50 1.00 1 1 2 1 1 0 1 1 1 9.50
2 CSSp4 3.00 0.36 1 1 2 1 0 0 1 0 1 3.36
3 CCoSp4 3.50 0.71 2 1 2 1 1 1 2 2 1 4.21
4 3Lz+3T 11.33 x 0.90 2 1 1 1 1 1 2 2 1 12.23
5 3Lo 5.61 x 0.90 1 2 2 1 1 1 1 3 1 6.51
6 StSq3 3.30 1.00 2 2 3 2 1 2 2 2 2 4.30
7 FCSp4 3.20 0.86 1 2 2 2 1 1 2 3 2 4.06
38.44 44.17
Program Components Factor
Skating Skills 1.00 7.75 8.00 8.50 7.75 8.00 8.00 8.25 8.00 7.75 7.96
Transitions 1.00 7.75 7.75 8.25 7.50 7.75 8.25 8.25 8.00 7.50 7.89
Performance 1.00 7.75 8.50 8.75 8.00 7.75 8.50 8.75 8.50 7.75 8.25
Composition 1.00 8.00 8.25 8.50 7.50 8.00 8.25 8.75 8.25 8.00 8.18
Interpretation of the Music 1.00 8.00 8.50 8.75 7.75 8.25 8.50 8.75 8.00 8.00 8.29
Judges Total Program Component Score (factored) 40.57
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
12 ZHOU Vincent USA 3 84.53 48.50 36.03 0.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4Lz+3T< < 16.60 -1.03 -1 -1 0 -1 0 -1 -2 -1 -1 15.57
2 4F 12.30 -2.86 -2 -2 -2 -3 -2 -2 -3 -3 -2 9.44
3 FCSp4 3.20 0.50 1 1 1 1 1 1 1 1 1 3.70
4 3A 9.35 x -1.00 -1 -1 0 -2 -1 -1 -1 -1 -1 8.35
5 StSq3 3.30 0.57 1 1 2 1 1 1 1 1 2 3.87
6 CSSp4 3.00 0.64 1 1 2 2 1 0 2 1 1 3.64
7 CCoSp4 3.50 0.43 0 1 2 1 1 1 1 -1 1 3.93
51.25 48.50
Program Components Factor
Skating Skills 1.00 7.25 7.50 8.00 7.25 7.25 7.00 7.25 7.75 7.50 7.39
Transitions 1.00 6.50 7.00 7.50 7.00 7.00 6.50 6.50 7.50 7.25 6.96
Performance 1.00 6.75 7.25 7.75 6.75 7.00 6.50 7.00 7.75 7.25 7.11
Composition 1.00 7.50 7.00 8.00 6.75 7.25 7.00 7.25 7.75 7.50 7.32
Interpretation of the Music 1.00 7.00 7.25 8.00 7.00 7.50 6.75 7.25 7.50 7.25 7.25
Judges Total Program Component Score (factored) 36.03
Deductions: 0.00
Page 6 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
13 BYCHENKO Alexei ISR 23 84.13 43.63 40.50 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3A 8.50 1.43 1 2 2 2 1 2 1 1 1 9.93
2 4T 10.30 0.14 0 0 1 0 0 1 0 0 -1 10.44
3 CCoSp3V 2.50 0.21 0 0 1 1 0 1 1 0 0 2.71
4 3Lz+3T 11.33 x -0.70 -1 -1 0 -1 -1 -1 -1 -1 -1 10.63
5 FCSp3 2.80 0.29 0 1 1 1 0 1 0 0 1 3.09
6 StSq3 3.30 0.79 1 2 2 2 2 2 1 1 1 4.09
7 CSSp3 2.60 0.14 0 0 1 1 0 1 -1 0 0 2.74
41.33 43.63
Program Components Factor
Skating Skills 1.00 7.50 8.50 8.00 8.25 7.75 8.25 8.00 7.50 7.75 7.93
Transitions 1.00 7.00 8.25 7.75 8.00 7.25 8.25 8.00 7.25 7.50 7.71
Performance 1.00 8.00 8.50 8.25 8.75 7.50 8.50 8.75 8.75 7.75 8.36
Composition 1.00 8.00 8.25 8.25 8.75 7.75 8.50 8.50 8.00 7.50 8.18
Interpretation of the Music 1.00 8.00 8.75 8.50 8.75 7.50 8.75 8.50 8.25 7.50 8.32
Judges Total Program Component Score (factored) 40.50
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
14 GE Misha UZB 16 83.90 41.75 42.15 0.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3A 8.50 0.57 0 1 0 1 1 1 0 0 1 9.07
2 3Lz+3T 10.30 0.90 1 1 1 2 1 1 2 2 1 11.20
3 CCSp3 2.80 0.64 0 1 2 2 2 1 1 1 1 3.44
4 3F 5.83 x 0.10 0 0 0 0 0 0 0 1 1 5.93
5 FSSp3 2.60 0.57 1 1 1 2 1 1 1 2 1 3.17
6 StSq3 3.30 1.21 2 2 2 3 3 2 3 2 3 4.51
7 CCoSp4 3.50 0.93 2 2 2 1 2 2 1 3 2 4.43
36.83 41.75
Program Components Factor
Skating Skills 1.00 7.50 8.25 8.00 8.75 8.50 8.50 8.00 7.75 8.25 8.18
Transitions 1.00 7.75 8.25 7.50 8.50 8.50 8.50 8.50 7.50 8.25 8.18
Performance 1.00 8.00 8.50 8.00 9.00 8.50 9.00 9.25 8.25 8.50 8.54
Composition 1.00 8.00 8.75 7.75 9.00 8.75 8.50 8.50 8.25 8.50 8.46
Interpretation of the Music 1.00 8.75 8.75 8.00 9.00 9.00 8.75 9.25 8.50 8.75 8.79
Judges Total Program Component Score (factored) 42.15
Deductions: 0.00
Page 7 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur
Total Total Total Program
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
15 CHA Junhwan KOR 14 83.43 43.79 39.64 0.00
# Executed Elements
FSKMSINGLES-----------QUAL000100--_77B 1.0 Report Created FRI 16 FEB 2018 14:29
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 3F+3T 9.60 1.30 2 2 2 1 3 1 2 2 2 10.90
2 3A 8.50 1.00 1 1 2 1 1 0 1 1 1 9.50
3 CCoSp4 3.50 1.00 2 2 3 2 2 1 2 3 1 4.50
4 3Lz 6.60 x 1.20 2 2 2 1 2 1 0 2 2 7.80
5 FCSp4 3.20 0.36 1 1 1 1 1 0 0 0 2 3.56
6 StSq2 2.60 0.86 2 2 2 1 1 1 2 2 2 3.46
7 CSSp4 3.00 1.07 2 2 3 2 2 2 1 3 2 4.07
37.00 43.79
Program Components Factor
Skating Skills 1.00 8.00 7.75 8.75 7.50 8.00 7.75 8.00 8.00 8.00 7.93
Transitions 1.00 8.25 7.00 8.00 7.25 7.75 7.50 7.75 7.50 8.00 7.68
Performance 1.00 8.00 7.50 8.50 7.75 8.25 7.75 8.25 8.25 8.25 8.07
Composition 1.00 8.00 7.25 8.50 7.50 8.25 7.50 8.00 8.25 8.50 8.00
Interpretation of the Music 1.00 8.00 7.50 8.50 7.75 8.00 7.50 8.25 8.00 8.25 7.96
Judges Total Program Component Score (factored) 39.64
Deductions: Total Total Total Program 0.00
NOC Starting Total
Rank Name Segment Element Component Score
Code Number Deductions
Score Score (factored)
16 KERRY Brendan AUS 10 83.06 45.49 37.57 0.00
# Executed Elements
ofnI Base Scores
GOE J1 J2 J3 J4 J5 J6 J7 J8 J9 Ref.
Value of Panel
1 4T 10.30 0.57 1 0 2 0 1 1 0 1 0 10.87
2 3Lz+3T 10.30 0.90 2 1 2 1 1 1 1 2 1 11.20
3 CCSp4 3.20 0.43 1 1 2 1 1 0 -1 1 1 3.63
4 3A 9.35 x -0.57 0 0 0 -1 -1 -1 -1 0 -1 8.78
5 StSq3 3.30 0.50 1 1 1 1 2 1 1 1 1 3.80
6 FSSp4 3.00 0.71 2 1 2 1 2 1 1 1 2 3.71
7 CCoSp3 3.00 0.50 0 1 2 1 2 1 1 1 0 3.50
42.45 45.49
Program Components Factor
Skating Skills 1.00 7.25 7.50 7.75 7.50 7.75 7.50 7.25 7.75 7.75 7.57
Transitions 1.00 7.25 7.25 7.50 7.25 7.50 7.00 7.25 7.75 7.50 7.36
Performance 1.00 7.75 7.75 8.00 7.50 7.50 7.50 7.50 7.50 7.75 7.61
Composition 1.00 7.75 7.25 7.75 7.75 7.75 7.25 7.50 7.50 7.50 7.57
Interpretation of the Music 1.00 7.00 7.50 7.50 7.50 7.75 7.50 7.25 7.50 7.50 7.46
Judges Total Program Component Score (factored) 37.57
Deductions: 0.00
Page 8 / 15
Gangneung Ice Arena Figure Skating
강릉 아이스 아레나 피겨 스케이팅 / Patinage artistique
Palais des glaces de Gangneung
Men Single Skating
피겨 스케이팅 남자 싱글 / Patinage individuel hommes
FRI 16 FEB 2018 Short Program
쇼트 프로그램 / Programme court
Judges Details per Skater
선수별 심판 세부채점 정보 / Notation détaillée des juges par patineur

### Sense checking element df

In [119]:
print(element_df.shape)

(210, 24)

In [120]:
# in the short, expect each person to do 7 elements
element_df["name"].value_counts()

name
Hanyu Yuzuru                  7
Fernandez Javier              7
Montoya Felipe                7
Martinez Michael Christian    7
Ten Denis                     7
Besseghier Chafik             7
Yee Julian Zhi Jie            7
Fentz Paul                    7
Rizzo Matteo                  7
Kvitelashvili Morisi          7
Vasiljevs Deniss              7
Tanaka Keiji                  7
Yan Han                       7
Samohin Daniel                7
Chen Nathan                   7
Kerry Brendan                 7
Cha Junhwan                   7
Ge Misha                      7
Bychenko Alexei               7
Zhou Vincent                  7
Hendrickx Jorik               7
Messing Keegan                7
Brezina Michal                7
Kolyada Mikhail               7
Rippon Adam                   7
Chan Patrick                  7
Aliev Dmitri                  7
Jin Boyang                    7
Uno Shoma                     7
Paniot Yaroslav               7
Name: count, dtype: int64

In [121]:
# expect 30 skaters in the short
len(element_df["name"].unique())

30

In [122]:
element_df.head()

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,element_no,element,info,base_value,extra_points,goe,final_score,J1,J2,J3,J4,J5,J6,J7,J8,J9
0,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,1,4S,None,10.5000,0,2.7100,13.2100,3,2,3,3,3,2,3,3,2
1,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,2,FCSp4,None,3.2000,0,1.0000,4.2000,2,2,2,2,2,2,2,3,2
2,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3,CSSp4,None,3.0000,0,1.4300,4.4300,2,3,3,3,3,2,3,3,3
3,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,4,3A,None,9.3500,1,3.0000,12.3500,3,3,3,3,3,3,3,3,3
4,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,5,4T+3T,None,16.0600,1,2.5700,18.6300,3,2,2,3,2,2,3,3,3

### Sense checking program df

In [123]:
print(program_df.shape)

(150, 20)

In [124]:
# expect 5 program components per skater
program_df["name"].value_counts()

name
Hanyu Yuzuru                  5
Fernandez Javier              5
Montoya Felipe                5
Martinez Michael Christian    5
Ten Denis                     5
Besseghier Chafik             5
Yee Julian Zhi Jie            5
Fentz Paul                    5
Rizzo Matteo                  5
Kvitelashvili Morisi          5
Vasiljevs Deniss              5
Tanaka Keiji                  5
Yan Han                       5
Samohin Daniel                5
Chen Nathan                   5
Kerry Brendan                 5
Cha Junhwan                   5
Ge Misha                      5
Bychenko Alexei               5
Zhou Vincent                  5
Hendrickx Jorik               5
Messing Keegan                5
Brezina Michal                5
Kolyada Mikhail               5
Rippon Adam                   5
Chan Patrick                  5
Aliev Dmitri                  5
Jin Boyang                    5
Uno Shoma                     5
Paniot Yaroslav               5
Name: count, dtype: int64

In [125]:
(
    program_df["name"].value_counts()
    .reset_index()
    ["count"].unique()
)

array([5])

In [126]:
program_df.head(10)

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,program_component,factor,final_score,J1,J2,J3,J4,J5,J6,J7,J8,J9
3,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,Composition,1.0000,9.7500,9.5000,10.0000,9.7500,9.7500,9.7500,9.7500,9.5000,10.0000,9.7500
4,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,Interpretation of the Music,1.0000,9.7500,9.5000,9.7500,9.7500,10.0000,9.7500,9.7500,9.5000,10.0000,9.7500
2,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,Performance,1.0000,9.8600,10.0000,9.7500,10.0000,10.0000,9.7500,9.7500,9.7500,10.0000,9.7500
0,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,Skating Skills,1.0000,9.7100,10.0000,9.7500,10.0000,9.7500,9.7500,9.5000,9.5000,9.7500,9.5000
1,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,Transitions,1.0000,9.4300,9.0000,9.5000,9.7500,9.5000,9.5000,9.2500,8.7500,9.7500,9.5000
8,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,Composition,1.0000,9.6800,10.0000,10.0000,9.5000,10.0000,9.5000,9.7500,9.2500,9.5000,9.5000
9,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,Interpretation of the Music,1.0000,9.6800,10.0000,9.7500,10.0000,9.7500,9.5000,9.7500,9.5000,9.5000,9.2500
7,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,Performance,1.0000,9.7100,10.0000,9.7500,10.0000,10.0000,9.2500,9.5000,9.5000,9.7500,9.5000
5,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,Skating Skills,1.0000,9.3600,10.0000,9.5000,9.5000,9.5000,9.2500,9.5000,9.0000,9.2500,9.0000
6,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,Transitions,1.0000,9.3600,9.5000,9.5000,9.5000,9.5000,9.0000,9.5000,9.0000,9.2500,9.2500

In [127]:
program_df.tail(10)

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,program_component,factor,final_score,J1,J2,J3,J4,J5,J6,J7,J8,J9
143,29,Montoya Felipe,ESP,1,52.4100,22.5900,30.8200,-1.0000,Composition,1.0000,6.2500,6.2500,6.0000,6.0000,6.0000,6.5000,6.0000,7.0000,7.0000,6.0000
144,29,Montoya Felipe,ESP,1,52.4100,22.5900,30.8200,-1.0000,Interpretation of the Music,1.0000,6.2500,6.5000,6.2500,6.0000,6.2500,6.2500,5.7500,7.2500,6.5000,6.0000
142,29,Montoya Felipe,ESP,1,52.4100,22.5900,30.8200,-1.0000,Performance,1.0000,6.0000,6.0000,5.7500,5.7500,5.7500,6.2500,5.5000,7.0000,6.7500,5.7500
140,29,Montoya Felipe,ESP,1,52.4100,22.5900,30.8200,-1.0000,Skating Skills,1.0000,6.2500,6.2500,6.2500,6.0000,6.0000,6.5000,6.0000,6.7500,6.7500,6.0000
141,29,Montoya Felipe,ESP,1,52.4100,22.5900,30.8200,-1.0000,Transitions,1.0000,6.0700,6.5000,6.0000,5.7500,5.7500,6.0000,6.0000,7.0000,6.5000,5.7500
148,30,Paniot Yaroslav,UKR,7,46.5800,18.6800,29.9000,-2.0000,Composition,1.0000,6.2100,6.5000,6.2500,5.0000,6.0000,7.0000,5.7500,7.5000,6.0000,6.0000
149,30,Paniot Yaroslav,UKR,7,46.5800,18.6800,29.9000,-2.0000,Interpretation of the Music,1.0000,5.8600,6.0000,6.0000,5.0000,5.7500,7.2500,5.5000,7.0000,5.0000,5.7500
147,30,Paniot Yaroslav,UKR,7,46.5800,18.6800,29.9000,-2.0000,Performance,1.0000,5.6100,5.5000,5.7500,4.7500,5.5000,6.5000,5.2500,6.7500,5.2500,5.5000
145,30,Paniot Yaroslav,UKR,7,46.5800,18.6800,29.9000,-2.0000,Skating Skills,1.0000,6.4300,7.0000,6.5000,5.0000,6.2500,7.0000,6.0000,6.5000,6.5000,6.2500
146,30,Paniot Yaroslav,UKR,7,46.5800,18.6800,29.9000,-2.0000,Transitions,1.0000,5.7900,6.7500,6.0000,4.7500,5.5000,6.0000,5.2500,6.5000,5.5000,5.7500

In [128]:
program_df["starting_number"].value_counts().reset_index().sort_values(by="starting_number")

    starting_number  count
2                 1      5
5                 2      5
19                3      5
4                 4      5
8                 5      5
3                 6      5
29                7      5
12                8      5
6                 9      5
15               10      5
9                11      5
21               12      5
22               13      5
16               14      5
7                15      5
17               16      5
20               17      5
13               18      5
24               19      5
26               20      5
25               21      5
11               22      5
18               23      5
10               24      5
0                25      5
14               26      5
23               27      5
28               28      5
1                29      5
27               30      5

## Merging Element Components with Program Components

In [129]:
element_df_renamed = (
                        element_df
                            .set_index(
                                ['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions']
                                )
                    ) 

program_df_renamed = (
                        program_df
                            .set_index(
                                ['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions']
                                )
                    ) 

data_df = pd.concat([element_df_renamed, program_df_renamed])

cols_at_end = ['J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8', 'J9']
cols_not_at_end = data_df.columns.difference(cols_at_end).to_list()
new_column_order = cols_not_at_end + cols_at_end
data_df = data_df[new_column_order]

data_df = (
    data_df
        .reset_index()
        .sort_values(by=['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions'])
        .reset_index(drop=True)
)

## Sense Checks on Final data_df

In [130]:
data_df.shape

(360, 26)

In [131]:
# each participant should have 7 element + 5 program rows = 12 rows total
data_df["name"].value_counts().reset_index()["count"].unique()

array([12])

In [132]:
# there should be 29 participants
len(data_df["name"].unique())

30

In [133]:
data_df.head(12)

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,base_value,element,element_no,extra_points,factor,final_score,goe,info,program_component,J1,J2,J3,J4,J5,J6,J7,J8,J9
0,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,10.5000,4S,1.0000,0.0000,NaN,13.2100,2.7100,None,NaN,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,2.0000
1,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.2000,FCSp4,2.0000,0.0000,NaN,4.2000,1.0000,None,NaN,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,3.0000,2.0000
2,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.0000,CSSp4,3.0000,0.0000,NaN,4.4300,1.4300,None,NaN,2.0000,3.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000
3,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,9.3500,3A,4.0000,1.0000,NaN,12.3500,3.0000,None,NaN,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000
4,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,16.0600,4T+3T,5.0000,1.0000,NaN,18.6300,2.5700,None,NaN,3.0000,2.0000,2.0000,3.0000,2.0000,2.0000,3.0000,3.0000,3.0000
5,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.9000,StSq4,6.0000,0.0000,NaN,6.0000,2.1000,None,NaN,2.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000
6,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.0000,CCoSp3,7.0000,0.0000,NaN,4.3600,1.3600,None,NaN,2.0000,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000
7,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,NaN,1.0000,9.7500,NaN,NaN,Composition,9.5000,10.0000,9.7500,9.7500,9.7500,9.7500,9.5000,10.0000,9.7500
8,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,NaN,1.0000,9.7500,NaN,NaN,Interpretation of the Music,9.5000,9.7500,9.7500,10.0000,9.7500,9.7500,9.5000,10.0000,9.7500
9,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,NaN,1.0000,9.8600,NaN,NaN,Performance,10.0000,9.7500,10.0000,10.0000,9.7500,9.7500,9.7500,10.0000,9.7500
10,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,NaN,1.0000,9.7100,NaN,NaN,Skating Skills,10.0000,9.7500,10.0000,9.7500,9.7500,9.5000,9.5000,9.7500,9.5000
11,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,NaN,1.0000,9.4300,NaN,NaN,Transitions,9.0000,9.5000,9.7500,9.5000,9.5000,9.2500,8.7500,9.7500,9.5000

## Applying Data Pipeline to All Singles Files

### Helper Functions

In [134]:
skater_header_pattern = re.compile(
        r"""
        ^(\d+)\s+                  # 1 rank
        (.+?)\s+                   # 2 name
        ([A-Z]{3})\s+              # 3 NOC code
        (\d+)\s+                   # 4 starting num
        (\d+\.\d{2})\s+            # 5 total segment score
        (\d+\.\d{2})\s+            # 6 total element score
        (\d+\.\d{2})\s+            # 7 total program score
        (-?\d+\.\d{2})$            # 8 total deductions
        """,
        re.VERBOSE | re.MULTILINE
    )

element_pattern = re.compile(
    r"""
    ^\s*(\d+)\s+                 # 1 element number
    ([A-Za-z0-9+!*<>q]+)\s+      # 2 element code
    (?:(\S+)\s+)?                # 3 optional info column (x, q, !, etc.)
    ([\d.]+)\s+                  # 4 base value
    (?:\b(x)\b\s+)?              # 5 optional extra points column (x)
    ([\-\d.]+)\s+                # 6 GOE
    ((?:(?:-?\d+)|-)(?:\s+(?:(?:-?\d+)|-)){8}\s+)  # 7 judges scores 
    ([\d.]+)$                    # 8 final score
    """,
    re.VERBOSE | re.MULTILINE
)

program_components_pattern = re.compile(
    r"""
    ^(Skating\s+Skills|Transitions|Performance|Composition|Interpretation\s+of\s+the\s+Music)\s+  # 1 component
    (\d+\.\d{2})\s+                     # 2 factor
    ((?:\d+\.\d{2}\s+){9})              # 3 judge scores
    (\d+\.\d{2})$                       # 4 final score
    """,
    re.VERBOSE | re.MULTILINE
)

In [135]:
def _get_full_pdf_text(pdf_path):
    pages_text = []
    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            text = page.extract_text()
            if text:
                pages_text.append(text)

    full_text = "\n".join(pages_text)
    # full_text = full_text.replace(" x ", " ")

    return full_text

def _get_skater_blocks(full_text):
    matches = list(skater_header_pattern.finditer(full_text))
    skater_blocks = []
    for i, m in enumerate(matches):
        start = m.start()
        end = matches[i + 1].start() if i + 1 < len(matches) else len(full_text)
        skater_blocks.append((m, full_text[start:end]))
    return skater_blocks

def _process_skater_block_element(header, block):
    # read header
    rank = int(header.group(1))
    name = header.group(2).title()
    noc = header.group(3)
    starting_number = int(header.group(4))
    tss = float(header.group(5))
    tes = float(header.group(6))
    tpcs = float(header.group(7))
    deductions = float(header.group(8))

    elements_rows = []
    for m in element_pattern.finditer(block):
        row = {
            "rank": rank,
            "name": name,
            "noc": noc,
            "starting_number": starting_number,
            "tss": tss,
            "tes": tes,
            "tpcs": tpcs,
            "deductions": deductions,
            "element_no": int(m.group(1)),
            "element": m.group(2),
            "info": m.group(3),
            "base_value": float(m.group(4)),
            "extra_points": 1 if m.group(5) else 0,
            "goe": float(m.group(6)),
            "final_score": float(m.group(8)),
        }

        judges = m.group(7).split()
        for i, j in enumerate(judges):
            try:
                row[f"J{i+1}"] = int(j)
            except ValueError:
                row[f"J{i+1}"] = 0
        
        elements_rows.append(row)

    return elements_rows

def _process_skater_block_program(header, block):
    # read header
    rank = int(header.group(1))
    name = header.group(2).title()
    noc = header.group(3)
    starting_number = int(header.group(4))
    tss = float(header.group(5))
    tes = float(header.group(6))
    tpcs = float(header.group(7))
    deductions = float(header.group(8))

    program_rows = []
    for m in program_components_pattern.finditer(block):
        row = {
            "rank": rank,
            "name": name,
            "noc": noc,
            "starting_number": starting_number,
            "tss": tss,
            "tes": tes,
            "tpcs": tpcs,
            "deductions": deductions,
            "program_component": m.group(1),
            "factor": float(m.group(2)),
            "final_score": float(m.group(4)),
        }

        judges = m.group(3).split()
        for i, j in enumerate(judges):
            try:
                row[f"J{i+1}"] = float(j)
            except ValueError:
                row[f"J{i+1}"] = 0
        
        program_rows.append(row)

    return program_rows

def parsing_fsk_score_sheet(pdf_path):
    full_text = _get_full_pdf_text(pdf_path)
    skater_blocks = _get_skater_blocks(full_text)

    elements_rows = []
    program_rows = []

    for header, block in skater_blocks:
        processed_rows = _process_skater_block_element(header, block)
        elements_rows.extend(processed_rows)
        
        processed_rows = _process_skater_block_program(header, block)
        program_rows.extend(processed_rows)

    element_df = pd.DataFrame(elements_rows)
    element_df.sort_values(["rank", "element_no"], inplace=True)

    program_df = pd.DataFrame(program_rows)
    program_df.sort_values(["rank", "program_component"], inplace=True)

    return element_df, program_df

def _add_file_features(pdf_path, data_df):
    is_short_program = 1 if "SP" in pdf_path else 0
    data_df["is_short_program"] = is_short_program

    category = "men" if "Men" in pdf_path else "women" if "Ladies" in pdf_path else "pairs" if "Pair" in pdf_path else ""
    data_df["category"] = category

    event_type = "team" if "Team" in pdf_path else "individual"
    data_df["event_type"] = event_type

    return data_df
    
    return data_df

def get_fsk_df(pdf_path):
    element_df, program_df = parsing_fsk_score_sheet(pdf_path)
    element_df_renamed = (
                        element_df
                            .set_index(
                                ['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions']
                                )
                    ) 

    program_df_renamed = (
                            program_df
                                .set_index(
                                    ['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions']
                                    )
                        ) 

    data_df = pd.concat([element_df_renamed, program_df_renamed])
    data_df = data_df.assign(
            year = isu_year,
            event = isu_event,
            is_element = lambda x: (~x.element_no.isna()).astype(int)
        )

    cols_at_end = ['J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8', 'J9']
    cols_not_at_end = data_df.columns.difference(cols_at_end).to_list()
    new_column_order = cols_not_at_end + cols_at_end
    data_df = data_df[new_column_order]

    data_df = (
        data_df
            .reset_index()
            .sort_values(by=['rank', 'name', 'noc', 'starting_number', 'tss', 'tes', 'tpcs', 'deductions'])
            .reset_index(drop=True)
    )
    data_df = _add_file_features(pdf_path, data_df)
    
    return data_df

### Testing Helpers

In [136]:
data_df = get_fsk_df(PDF_PATH)
data_df.head(30)

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,base_value,element,element_no,event,extra_points,factor,final_score,goe,info,is_element,program_component,year,J1,J2,J3,J4,J5,J6,J7,J8,J9,is_short_program,category,event_type
0,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,10.5000,4S,1.0000,owg2018,0.0000,NaN,13.2100,2.7100,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,2.0000,1,men,individual
1,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.2000,FCSp4,2.0000,owg2018,0.0000,NaN,4.2000,1.0000,None,1,NaN,1718,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,3.0000,2.0000,1,men,individual
2,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.0000,CSSp4,3.0000,owg2018,0.0000,NaN,4.4300,1.4300,None,1,NaN,1718,2.0000,3.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,1,men,individual
3,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,9.3500,3A,4.0000,owg2018,1.0000,NaN,12.3500,3.0000,None,1,NaN,1718,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,1,men,individual
4,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,16.0600,4T+3T,5.0000,owg2018,1.0000,NaN,18.6300,2.5700,None,1,NaN,1718,3.0000,2.0000,2.0000,3.0000,2.0000,2.0000,3.0000,3.0000,3.0000,1,men,individual
5,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.9000,StSq4,6.0000,owg2018,0.0000,NaN,6.0000,2.1000,None,1,NaN,1718,2.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,1,men,individual
6,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,3.0000,CCoSp3,7.0000,owg2018,0.0000,NaN,4.3600,1.3600,None,1,NaN,1718,2.0000,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,1,men,individual
7,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.7500,NaN,NaN,0,Composition,1718,9.5000,10.0000,9.7500,9.7500,9.7500,9.7500,9.5000,10.0000,9.7500,1,men,individual
8,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.7500,NaN,NaN,0,Interpretation of the Music,1718,9.5000,9.7500,9.7500,10.0000,9.7500,9.7500,9.5000,10.0000,9.7500,1,men,individual
9,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.8600,NaN,NaN,0,Performance,1718,10.0000,9.7500,10.0000,10.0000,9.7500,9.7500,9.7500,10.0000,9.7500,1,men,individual
10,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.7100,NaN,NaN,0,Skating Skills,1718,10.0000,9.7500,10.0000,9.7500,9.7500,9.5000,9.5000,9.7500,9.5000,1,men,individual
11,1,Hanyu Yuzuru,JPN,25,111.6800,63.1800,48.5000,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.4300,NaN,NaN,0,Transitions,1718,9.0000,9.5000,9.7500,9.5000,9.5000,9.2500,8.7500,9.7500,9.5000,1,men,individual
12,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,14.6000,4T+3T,1.0000,owg2018,0.0000,NaN,16.6000,2.0000,None,1,NaN,1718,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,1,men,individual
13,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,10.5000,4S,2.0000,owg2018,0.0000,NaN,13.2100,2.7100,None,1,NaN,1718,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,3.0000,2.0000,1,men,individual
14,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,2.9000,FUSp4,3.0000,owg2018,0.0000,NaN,3.4000,0.5000,None,1,NaN,1718,2.0000,1.0000,2.0000,1.0000,0.0000,2.0000,0.0000,1.0000,0.0000,1,men,individual
15,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,9.3500,3A,4.0000,owg2018,1.0000,NaN,11.7800,2.4300,None,1,NaN,1718,3.0000,3.0000,2.0000,3.0000,2.0000,2.0000,2.0000,3.0000,2.0000,1,men,individual
16,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,3.0000,CSSp4,5.0000,owg2018,0.0000,NaN,4.2900,1.2900,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,2.0000,3.0000,2.0000,3.0000,2.0000,1,men,individual
17,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,3.9000,StSq4,6.0000,owg2018,0.0000,NaN,5.8000,1.9000,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,1,men,individual
18,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,3.5000,CCoSp4,7.0000,owg2018,0.0000,NaN,4.7100,1.2100,None,1,NaN,1718,3.0000,3.0000,2.0000,2.0000,2.0000,2.0000,3.0000,3.0000,2.0000,1,men,individual
19,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.6800,NaN,NaN,0,Composition,1718,10.0000,10.0000,9.5000,10.0000,9.5000,9.7500,9.2500,9.5000,9.5000,1,men,individual
20,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.6800,NaN,NaN,0,Interpretation of the Music,1718,10.0000,9.7500,10.0000,9.7500,9.5000,9.7500,9.5000,9.5000,9.2500,1,men,individual
21,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.7100,NaN,NaN,0,Performance,1718,10.0000,9.7500,10.0000,10.0000,9.2500,9.5000,9.5000,9.7500,9.5000,1,men,individual
22,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.3600,NaN,NaN,0,Skating Skills,1718,10.0000,9.5000,9.5000,9.5000,9.2500,9.5000,9.0000,9.2500,9.0000,1,men,individual
23,2,Fernandez Javier,ESP,29,107.5800,59.7900,47.7900,0.0000,NaN,NaN,NaN,owg2018,NaN,1.0000,9.3600,NaN,NaN,0,Transitions,1718,9.5000,9.5000,9.5000,9.5000,9.0000,9.5000,9.0000,9.2500,9.2500,1,men,individual
24,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,12.3000,4F,1.0000,owg2018,0.0000,NaN,13.7300,1.4300,None,1,NaN,1718,0.0000,1.0000,2.0000,2.0000,1.0000,1.0000,2.0000,2.0000,1.0000,1,men,individual
25,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,3.2000,FCSp4,2.0000,owg2018,0.0000,NaN,4.1300,0.9300,None,1,NaN,1718,1.0000,2.0000,2.0000,2.0000,2.0000,1.0000,2.0000,2.0000,2.0000,1,men,individual
26,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,3.3000,StSq3,3.0000,owg2018,0.0000,NaN,4.3700,1.0700,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,2.0000,1.0000,2.0000,2.0000,2.0000,1,men,individual
27,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,16.0600,4T+3T,4.0000,owg2018,1.0000,NaN,17.2000,1.1400,None,1,NaN,1718,1.0000,1.0000,2.0000,2.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1,men,individual
28,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,9.3500,3A,5.0000,owg2018,1.0000,NaN,10.0600,0.7100,None,1,NaN,1718,0.0000,1.0000,2.0000,1.0000,0.0000,1.0000,1.0000,1.0000,-1.0000,1,men,individual
29,3,Uno Shoma,JPN,28,104.1700,58.1300,46.0400,0.0000,3.0000,CSSp4,6.0000,owg2018,0.0000,NaN,4.0000,1.0000,None,1,NaN,1718,2.0000,2.0000,3.0000,2.0000,2.0000,2.0000,0.0000,2.0000,2.0000,1,men,individual

In [137]:
data_df[lambda x: x.name == "Lee Sihyeong"]

Empty DataFrame
Columns: [rank, name, noc, starting_number, tss, tes, tpcs, deductions, base_value, element, element_no, event, extra_points, factor, final_score, goe, info, is_element, program_component, year, J1, J2, J3, J4, J5, J6, J7, J8, J9, is_short_program, category, event_type]
Index: []

In [138]:
data_df["name"].value_counts().reset_index()["count"].unique()

array([12])

### All Singles Data

In [139]:
from pathlib import Path

data_dfs_dict = {} # path to df dict
data_df = pd.DataFrame()

file_names = [item.name for item in Path(dir_name).iterdir() if item.is_file()]
valid_singles_files = []
skip = False
output_file_path = ""
for f in file_names:
    if ".csv" in f:
        skip = True
        output_file_path = dir_name + "/" +f
        break
if skip:
    print(f"Data Directory: {dir_name} already processed")
    data_df = pd.read_csv(output_file_path)
else:
    for f in file_names:
        print(f"PROCESSING {f}...")
        if "dance" not in f.lower():
            print(f"VALID SCORE SHEET...")
            valid_singles_files.append(f)
            
            full_path = dir_name + "/" + f
            df = get_fsk_df(full_path)
            data_dfs_dict[f] = df
        print(f"DONE")
        print("-------------------")

PROCESSING OWG2018_TeamIceDance_SD_D_Scores.pdf...
DONE
-------------------
PROCESSING OWG2018_TeamMen_SP_M_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_LadiesSingleSkating_FS_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamLadies_SP_F_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamIceDance_FD_D_Scores.pdf...
DONE
-------------------
PROCESSING OWG2018_IceDance_SD_Scores.pdf...
DONE
-------------------
PROCESSING OWG2018_MenSingleSkating_SP_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_PairSkating_SP_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamPairs_SP_P_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_IceDance_FD_Scores.pdf...
DONE
-------------------
PROCESSING OWG2018_LadiesSingleSkating_SP_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamPairs_FS_P_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_MenSingleSkating_FS_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamLadies_FS_F_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_TeamMen_FS_M_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------
PROCESSING OWG2018_PairSkating_FS_Scores.pdf...
VALID SCORE SHEET...
DONE
-------------------

In [140]:
len(data_dfs_dict)

12

In [141]:
if not skip:
    print(valid_singles_files[0])
    data_dfs_dict[valid_singles_files[0]].head()

OWG2018_TeamMen_SP_M_Scores.pdf

In [142]:
if not skip:
    data_dfs_dict[valid_singles_files[0]]["name"].value_counts()

In [143]:
if not skip:
    for f in valid_singles_files:
        data_df = pd.concat([data_df, data_dfs_dict[f]])
    data_df.reset_index(drop=True, inplace=True)

    # output csv
    data_df.to_csv(OUTPUT_CSV, index=False)

    print(f"Saved {len(data_df)} rows to {OUTPUT_CSV}")

Saved 2716 rows to ./owg2018/owg2018.csv

In [144]:
data_df.shape

(2716, 32)

In [145]:
data_df

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,base_value,element,element_no,event,extra_points,factor,final_score,goe,info,is_element,program_component,year,J1,J2,J3,J4,J5,J6,J7,J8,J9,is_short_program,category,event_type
0,1,Uno Shoma,JPN,10,103.2500,56.6400,46.6100,0.0000,12.3000,4F,1.0000,owg2018,0.0000,NaN,9.4400,-2.8600,None,1,NaN,1718,-3.0000,-2.0000,-2.0000,-2.0000,-2.0000,-3.0000,-2.0000,-2.0000,-3.0000,1,men,team
1,1,Uno Shoma,JPN,10,103.2500,56.6400,46.6100,0.0000,3.2000,FCSp4,2.0000,owg2018,0.0000,NaN,4.4100,1.2100,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,2.0000,2.0000,3.0000,2.0000,3.0000,1,men,team
2,1,Uno Shoma,JPN,10,103.2500,56.6400,46.6100,0.0000,3.3000,StSq3,3.0000,owg2018,0.0000,NaN,4.6600,1.3600,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,2.0000,2.0000,3.0000,3.0000,3.0000,1,men,team
3,1,Uno Shoma,JPN,10,103.2500,56.6400,46.6100,0.0000,16.0600,4T+3T,4.0000,owg2018,1.0000,NaN,17.9200,1.8600,None,1,NaN,1718,1.0000,2.0000,2.0000,2.0000,1.0000,2.0000,3.0000,2.0000,2.0000,1,men,team
4,1,Uno Shoma,JPN,10,103.2500,56.6400,46.6100,0.0000,9.3500,3A,5.0000,owg2018,1.0000,NaN,11.6400,2.2900,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,2.0000,2.0000,2.0000,2.0000,3.0000,1,men,team
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,16,Hocke Annika / Blommaert Ruben,GER,4,108.9400,53.7900,55.1500,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,7.0000,NaN,NaN,0,Composition,1718,6.5000,7.2500,6.7500,6.7500,7.0000,7.2500,7.0000,7.7500,7.0000,0,pairs,individual
2712,16,Hocke Annika / Blommaert Ruben,GER,4,108.9400,53.7900,55.1500,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,6.9300,NaN,NaN,0,Interpretation of the Music,1718,6.2500,7.2500,6.5000,6.7500,6.5000,7.2500,7.0000,7.5000,7.2500,0,pairs,individual
2713,16,Hocke Annika / Blommaert Ruben,GER,4,108.9400,53.7900,55.1500,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,6.7900,NaN,NaN,0,Performance,1718,6.5000,7.0000,7.0000,6.5000,6.7500,7.2500,6.5000,7.5000,6.5000,0,pairs,individual
2714,16,Hocke Annika / Blommaert Ruben,GER,4,108.9400,53.7900,55.1500,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,6.9300,NaN,NaN,0,Skating Skills,1718,6.5000,7.0000,7.0000,6.5000,7.0000,7.2500,6.7500,7.7500,7.0000,0,pairs,individual
2715,16,Hocke Annika / Blommaert Ruben,GER,4,108.9400,53.7900,55.1500,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,6.8200,NaN,NaN,0,Transitions,1718,6.2500,7.0000,6.5000,6.2500,7.2500,7.0000,7.0000,7.5000,6.7500,0,pairs,individual

In [146]:
data_df[lambda x: x.name == "Zagitova Alina"]

,rank,name,noc,starting_number,tss,tes,tpcs,deductions,base_value,element,element_no,event,extra_points,factor,final_score,goe,info,is_element,program_component,year,J1,J2,J3,J4,J5,J6,J7,J8,J9,is_short_program,category,event_type
137,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,2.0000,ChSq1,1.0000,owg2018,0.0000,NaN,3.7000,1.7000,None,1,NaN,1718,2.0000,3.0000,3.0000,3.0000,2.0000,2.0000,3.0000,2.0000,2.0000,0,women,individual
138,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,3.2000,FCSp4,2.0000,owg2018,0.0000,NaN,4.2700,1.0700,None,1,NaN,1718,2.0000,2.0000,3.0000,2.0000,2.0000,2.0000,2.0000,2.0000,3.0000,0,women,individual
139,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,3.9000,StSq4,3.0000,owg2018,0.0000,NaN,5.7000,1.8000,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,0,women,individual
140,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,6.6000,3Lz,4.0000,owg2018,1.0000,NaN,7.1000,0.5000,None,1,NaN,1718,1.0000,0.0000,2.0000,1.0000,0.0000,1.0000,0.0000,1.0000,1.0000,0,women,individual
141,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,8.3600,2A+3T,5.0000,owg2018,1.0000,NaN,9.7600,1.4000,None,1,NaN,1718,2.0000,2.0000,2.0000,2.0000,1.0000,2.0000,2.0000,2.0000,2.0000,0,women,individual
142,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,9.2400,3F+2T+2Lo,6.0000,owg2018,1.0000,NaN,10.4400,1.2000,None,1,NaN,1718,2.0000,2.0000,3.0000,2.0000,2.0000,1.0000,1.0000,1.0000,2.0000,0,women,individual
143,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,2.7000,LSp4,7.0000,owg2018,0.0000,NaN,3.7700,1.0700,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,1.0000,2.0000,2.0000,2.0000,2.0000,0,women,individual
144,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,12.2100,3Lz+3Lo,8.0000,owg2018,1.0000,NaN,13.9100,1.7000,None,1,NaN,1718,2.0000,2.0000,3.0000,3.0000,2.0000,3.0000,2.0000,2.0000,3.0000,0,women,individual
145,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,4.8400,3S,9.0000,owg2018,1.0000,NaN,6.2400,1.4000,None,1,NaN,1718,2.0000,2.0000,3.0000,2.0000,1.0000,2.0000,2.0000,2.0000,2.0000,0,women,individual
146,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,5.8300,3F,10.0000,owg2018,1.0000,NaN,7.5300,1.7000,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,3.0000,2.0000,2.0000,2.0000,2.0000,0,women,individual
147,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,3.6300,2A,11.0000,owg2018,1.0000,NaN,4.2000,0.5700,None,1,NaN,1718,1.0000,1.0000,1.0000,2.0000,2.0000,1.0000,1.0000,1.0000,1.0000,0,women,individual
148,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,3.5000,CCoSp4,12.0000,owg2018,0.0000,NaN,5.0000,1.5000,None,1,NaN,1718,3.0000,3.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,0,women,individual
149,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.2900,NaN,NaN,0,Composition,1718,9.0000,9.2500,9.7500,9.5000,9.2500,9.5000,9.5000,9.0000,9.0000,0,women,individual
150,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.4600,NaN,NaN,0,Interpretation of the Music,1718,9.5000,9.0000,9.7500,9.5000,9.2500,9.7500,9.5000,9.7500,9.0000,0,women,individual
151,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.6100,NaN,NaN,0,Performance,1718,9.5000,9.5000,9.7500,9.7500,9.5000,9.7500,9.2500,9.7500,9.5000,0,women,individual
152,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.3200,NaN,NaN,0,Skating Skills,1718,9.0000,9.2500,9.5000,9.5000,9.0000,9.5000,9.2500,9.5000,9.2500,0,women,individual
153,2,Zagitova Alina,OAR,22,156.6500,81.6200,75.0300,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.2100,NaN,NaN,0,Transitions,1718,9.2500,9.0000,9.2500,9.2500,9.0000,9.2500,9.2500,9.2500,9.2500,0,women,individual
1392,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,3.2000,FCSp4,1.0000,owg2018,0.0000,NaN,4.3400,1.1400,None,1,NaN,1718,2.0000,3.0000,2.0000,2.0000,3.0000,2.0000,3.0000,2.0000,2.0000,1,women,individual
1393,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,3.9000,StSq4,2.0000,owg2018,0.0000,NaN,5.7000,1.8000,None,1,NaN,1718,3.0000,3.0000,2.0000,3.0000,2.0000,2.0000,3.0000,3.0000,2.0000,1,women,individual
1394,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,12.2100,3Lz+3Lo,3.0000,owg2018,1.0000,NaN,13.7100,1.5000,None,1,NaN,1718,2.0000,2.0000,2.0000,3.0000,2.0000,2.0000,2.0000,3.0000,2.0000,1,women,individual
1395,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,5.8300,3F,4.0000,owg2018,1.0000,NaN,7.9300,2.1000,None,1,NaN,1718,3.0000,3.0000,2.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,1,women,individual
1396,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,3.6300,2A,5.0000,owg2018,1.0000,NaN,4.5600,0.9300,None,1,NaN,1718,2.0000,3.0000,2.0000,2.0000,1.0000,1.0000,2.0000,2.0000,2.0000,1,women,individual
1397,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,2.7000,LSp4,6.0000,owg2018,0.0000,NaN,4.0600,1.3600,None,1,NaN,1718,2.0000,3.0000,3.0000,3.0000,3.0000,2.0000,2.0000,3.0000,3.0000,1,women,individual
1398,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,3.5000,CCoSp4,7.0000,owg2018,0.0000,NaN,5.0000,1.5000,None,1,NaN,1718,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,1,women,individual
1399,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,NaN,NaN,NaN,owg2018,NaN,0.8000,9.4300,NaN,NaN,0,Composition,1718,9.7500,9.5000,9.2500,9.5000,9.5000,9.2500,9.2500,9.5000,9.5000,1,women,individual
1400,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,NaN,NaN,NaN,owg2018,NaN,0.8000,9.4300,NaN,NaN,0,Interpretation of the Music,1718,9.7500,9.5000,9.0000,9.5000,9.5000,9.2500,9.5000,9.5000,9.2500,1,women,individual
1401,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,NaN,NaN,NaN,owg2018,NaN,0.8000,9.6400,NaN,NaN,0,Performance,1718,9.7500,9.7500,9.2500,9.7500,9.7500,9.0000,9.7500,9.5000,9.7500,1,women,individual
1402,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,NaN,NaN,NaN,owg2018,NaN,0.8000,9.3600,NaN,NaN,0,Skating Skills,1718,9.5000,9.7500,9.2500,9.2500,9.2500,8.7500,9.5000,9.2500,9.5000,1,women,individual
1403,1,Zagitova Alina,OAR,28,82.9200,45.3000,37.6200,0.0000,NaN,NaN,NaN,owg2018,NaN,0.8000,9.1800,NaN,NaN,0,Transitions,1718,9.5000,9.2500,9.0000,9.2500,9.2500,9.0000,9.2500,9.0000,9.2500,1,women,individual
2269,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,2.0000,ChSq1,1.0000,owg2018,0.0000,NaN,3.7000,1.7000,None,1,NaN,1718,3.0000,2.0000,2.0000,1.0000,3.0000,3.0000,2.0000,3.0000,2.0000,0,women,team
2270,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,3.2000,FCSp4,2.0000,owg2018,0.0000,NaN,4.4100,1.2100,None,1,NaN,1718,3.0000,3.0000,2.0000,2.0000,2.0000,3.0000,2.0000,2.0000,3.0000,0,women,team
2271,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,3.9000,StSq4,3.0000,owg2018,0.0000,NaN,5.7000,1.8000,None,1,NaN,1718,3.0000,3.0000,2.0000,1.0000,3.0000,2.0000,3.0000,2.0000,3.0000,0,women,team
2272,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,12.2100,3Lz+3Lo,4.0000,owg2018,1.0000,NaN,13.5100,1.3000,None,1,NaN,1718,2.0000,2.0000,1.0000,2.0000,2.0000,1.0000,2.0000,2.0000,2.0000,0,women,team
2273,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,8.3600,2A+3T,5.0000,owg2018,1.0000,NaN,9.8600,1.5000,None,1,NaN,1718,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,3.0000,2.0000,3.0000,0,women,team
2274,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,9.2400,3F+2T+2Lo,6.0000,owg2018,1.0000,NaN,10.1400,0.9000,None,1,NaN,1718,2.0000,2.0000,0.0000,1.0000,1.0000,1.0000,0.0000,2.0000,2.0000,0,women,team
2275,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,2.7000,LSp4,7.0000,owg2018,0.0000,NaN,3.8400,1.1400,None,1,NaN,1718,3.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,3.0000,3.0000,0,women,team
2276,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,6.6000,3Lz,8.0000,owg2018,1.0000,NaN,8.6000,2.0000,None,1,NaN,1718,3.0000,2.0000,3.0000,3.0000,3.0000,3.0000,2.0000,3.0000,3.0000,0,women,team
2277,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,4.8400,3S,9.0000,owg2018,1.0000,NaN,6.5400,1.7000,None,1,NaN,1718,3.0000,2.0000,2.0000,2.0000,2.0000,3.0000,2.0000,3.0000,3.0000,0,women,team
2278,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,5.8300,3F,10.0000,owg2018,1.0000,NaN,7.1300,1.3000,None,1,NaN,1718,2.0000,2.0000,2.0000,0.0000,2.0000,2.0000,1.0000,2.0000,2.0000,0,women,team
2279,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,3.6300,2A,11.0000,owg2018,1.0000,NaN,4.6300,1.0000,None,1,NaN,1718,3.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,0,women,team
2280,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,3.5000,CCoSp4,12.0000,owg2018,0.0000,NaN,5.0000,1.5000,None,1,NaN,1718,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,3.0000,0,women,team
2281,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.3900,NaN,NaN,0,Composition,1718,9.7500,9.2500,9.2500,9.0000,9.7500,8.7500,9.7500,9.5000,9.2500,0,women,team
2282,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.4300,NaN,NaN,0,Interpretation of the Music,1718,10.0000,9.5000,9.0000,9.2500,9.5000,9.5000,9.5000,9.5000,9.2500,0,women,team
2283,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.5700,NaN,NaN,0,Performance,1718,10.0000,9.7500,9.2500,9.2500,10.0000,9.5000,9.5000,9.7500,9.2500,0,women,team
2284,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.2100,NaN,NaN,0,Skating Skills,1718,9.7500,9.5000,8.5000,8.7500,9.5000,9.2500,9.2500,9.2500,9.0000,0,women,team
2285,1,Zagitova Alina,OAR,5,158.0800,83.0600,75.0200,0.0000,NaN,NaN,NaN,owg2018,NaN,1.6000,9.2900,NaN,NaN,0,Transitions,1718,9.7500,9.2500,9.0000,9.0000,9.7500,9.2500,9.0000,9.5000,9.2500,0,women,team